
body {
    background-image: url(../images/space.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: white;
}

body {
    font-family: 'Audiowide', cursive;
    letter-spacing: 5px;
    line-height: 8px;
}

header {
    margin: 30px;
    padding: 85px;
    border: 10px solid white;
    width: 100%
}


#webpage-title {
    font-family: 'Audiowide', cursive;
    font-size: 90px;
    letter-spacing: 5px;
    text-align: center;
}


.section-title {
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 5px;
}

#title.italic {
    font-style: italic;
}



.character-card {
    border: 5px solid dodgerblue;
    background-color: black;
    padding: 10px;
    margin: 20px;
    display: inline-block;
    text-align: center;
    font-family: 'Russo One', sans-serif;
}

.character-card:hover {
    background-color: dodgerblue;
    border: 9px solid black;
}
 img {
     width: 250px;
     height: 140px;
 }

#attack {
    margin: 30px;
    font-weight: bold;
    font-variant: small-caps;
    font-size: 30px;
    letter-spacing: 3.5px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}


#attack:hover {
    width: 300px;
    height: 100px;
    background-color: rgb(80, 3, 3);
    font-family: 'Russo One', sans-serif;
    font-size:40px;
}


